/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
  
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 4rem;
  font-family: 'Syne Mono', monospace;
  text-align: center;
  }

h2 {
  font-size: 3rem;
  font-family: 'Syne Mono', monospace;
  text-align: center;
}

p {
  font-size: 2rem;
  line-height: 1.5;
  word-spacing: 0.6rem;
  font-family: 'Noto Serif', serif;
  
}









